@charset "utf-8";
/* CSS Document */
@keyframes xia{
	0%{top:5px;
	}
	25%{
		top:0px;}
	50%{top:5px;}
	70%{top:0px;}
	100%{top:5px;}}
@font-face{
	font-family:dqw3;
	src: url(../fonts/Hiragino%20Sans%20GB%20W3.otf);
	}
*{margin:0 0;
	font-family: "dqw3","微软雅黑";
	}
a{
	cursor:pointer;
	}
.top{
	width: 100%;
	background: #EBEBEB;
	height: 100%;
}

.header{
	width:1423px;
	height: 540px;
	margin: 0 auto;
	color: #FFF;
	font-family: "dqw3";
	position: relative;
}
.bo1{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 5;
	left: 0px;
	top: 4px;
	height: 539px;
}
.bo11{
	width:100%;
	height:200px;
	}	
	.ilogo{
	width: 330px;
	height: 86px;
	float: left;
	margin-left: 136px;
}	
		.logo{
		float:left;
		width:225px;
		height:56px;
		margin-top:30px;
		}
		.city{
	float: left;
	margin-top: 60px;
	margin-left: 30px;
	width: 100px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	align: baseline;
}	
.inav{
	width: 300px;
	float: right;
	margin-top: 65px;
	text-align: right;
	margin-right: 136px;
	}

	.ishop{
	width: 75px;
	font-size: 18px;
	margin-left: 30px;
}	
.bo12{
	height:186px;}
.iicon{
	width: 600px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	line-height: 50px;
	font-family: "dqw3";
	}
	.iicon2{
	width: 400px;
	margin: 10px auto 0;
	text-align: center;
	height: 19px;
	font-size: 18px;
	line-height: 19px;
	overflow: hidden;
}
	.iicon3{
	margin: 46px auto 0;
	width: 600px;
	height: 50px;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: right;
	box-shadow: 0 0 10px #000000;
}
#sou{
	color:#FFF;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	font-family: "dqw3";
	width: 90px;
	background-color: #09F;
	float: right;
	display: block;
	text-decoration:none;
	
}
#sou:hover{
	color:#FFF;
	}
												

.mid1{
	width: 100%;
	margin: 0 auto 15px;
	text-align: center;
	min-width:1423px;
	}

.title{
	margin: 0 auto;
	width: 1151px;
	height: 80px;
	padding-top: 30px;
}
	.line1{
	height: 40px;
	width: 420px;
	background-image: url(../images/line1.png);
	background-position: center;
	background-repeat: repeat-x;
	display: block;
	float: left;
}
	.t1{
	width: 311px;
	height: 40px;
	color: #09F;
	display: block;
	float: left;
	vertical-align: middle;
	}
	.t2{
	font-size: 24px;
	color: #666;
	text-align: center;
}
.goods1{
	width: 1151px;
	height:100%;
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
	overflow:hidden;
}

.tc{
	width: 224px;
	height: 224px;
	float: left;
	margin-left: 85px;
	margin-bottom: 50px;
	cursor:pointer;

	}
#tc1{
	margin-left:0;
	}


.tip1{
	width: 1151px;
	margin: 0 auto;
	text-align: left;
	height: 25px;
	}
#mdp{
	background-color: #eee;
}
.nr {
	float: right;
	color: #666;
	font-size: 14px;
}
.zero {
	width:533px;
	height:224px;
	float:left;
	cursor:pointer;
}
.zx {
	width: 1151px;
	height: 360px;
	margin: 20px auto;
	
}
.zx1 {
	width:370px;
	height:320px;
	float:left;
	box-shadow: 1px 1px 10px #888888;  
}
.zx2 {
	width:710px;
	height:125px;
	float:right;
	box-shadow: 1px 1px 10px #888;  
}
#zx_2{
	margin-top:70px;}
.zx3{
	float:left;
	}
.pt1{
	display: block;
	padding: 20px 0 15px 190px;
	font-size: 18px;
	font-family: "dqw3";
	text-align: left;
	}	
	.pt2{
	padding:5px 0 15px 190px;
	font-size:16px;
	text-indent:2em;
	}	
#foot{
	background-color: #09F;
	margin-bottom:0;
	padding:40px 0;
	}
.fbox{
	width: 1151px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	color: #FFF;
	background-color: #09F;
}
#foot1{
	width:224px;
	margin-top:10px;
	}
.fbox1{
	width:224px;
	height:150px;
	float:left;}
.fbox2{
	width:180px;
	height:150px;
	float:left;
	margin-left:20px;
	text-align:center;}
.foottip{
	margin-top:30px;
	font-size:18px;
	font-family:"dqw3";}
.foot2{
	margin-top:8px;
	font-family:"Microsoft YaHei UI"}
.fbox3{
	width: 270px;
	height: 150px;
	float: left;
	margin-left: 57px;
}
.foot3{
	margin-left:8px;
	margin-top:10px;}	
.fbox4{
	float:left;
	width:1151px;
	margin:20px; auto;
	font-size:12px;
	text-align:center;
	font-family:"Microsoft YaHei UI"}
#more0,#more1{
	margin-bottom:8px;
	cursor: pointer;
	position: relative;
	animation:xia 3s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}
#gundong{
	
	width:300px;
	margin:0 auto;
	height:19px;
	text-align:center;}
#headbg{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 540px;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	}

#xzcs{
	width: 100px;
	height: 30px;
	line-height: 30px;
	float: right;
	display: block;
	margin-top: 55px;
	text-align: center;
	font-size:12px;
	font-family: "Microsoft YaHei UI";
	background:rgba(0,0,0,0.3);
	border-radius:15px;
	cursor:pointer;
}
#xzcs_a{
	position: fixed;
	left:0;
	top:0;
	z-index:2000;
	width:100%;
	height:200%;
	background:rgba(0,0,0,0.5);
	padding-top:180px;
	display:none;}
#xzcs_b{
	width:720px;
	margin:0 auto;
	height:450px;
	background:#FFF;
	box-shadow:0 0 5px #000000;
	border-radius:10px;
	color:#09f;
	}
#xzcs_t{
	display: block;
	font-size: 24px;
	width: 200px;
	height: 45px;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
}
#xzcs_x{
	margin-right:15px;
	float:right;
	display:block;
	font-size:14px;
	width:20px;
	height:24px;
	text-align:center;
	padding-top:10px;}
#xzcs_b hr{
	width:88%;
	margin:5px auto;
	color: #999;}
.xzcs_c{
	width:280px;
	float:left;
	margin-left:70px;}
.xzcs_zm{
	color: #999;
	font-weight:800;}
.xzcs_c a{
	margin-left:15px;
	color:#000;}
	.xzcs_c a:hover{
	color:#09f;}
.xzcs_c li{
	margin-top:25px;}



.g_box{
	position:absolute;
	z-index:4;
	margin:56px 22px;
	font-size:16px;
	width:180px;
	height:112px;
	background:rgba(102,102,102,0.7);
	display: inline-block;
	transition:all 0.4s;
	
	}		
.tc:hover .g_box,.zero:hover .g_box{
	transform:scale(1.25,1.25);
background:rgba(102,102,102,0.3);
	transform-origin: center;
	box-shadow:0 0 3px #333;
	}
#zero_t{margin:56px 176px;}	
.tc:hover,.zero:hover{
	box-shadow:0 0 5px  #000000;}    
.g_box_a{
	border: 1px solid #FFF;
	border-radius: 4px;
	margin: 12px auto;
	width: 120px;
	height: 60px;
	background: rgba(0,0,0,0.5);
	color: #FFF;
	text-align: center;
	padding: 10px;
}		
        
