@charset "utf-8";
/* CSS Document */

.top{
	margin-top:30px;
	padding-bottom:15px;
	min-width:1423px;
	width:100%;
	height:100%;
	background:#FFF;
	border-bottom:1px #0099FF solid;}
	.top_t{
		width:1151px;
		height:55px;
		margin:0 auto;}
	
.banner_g{
	width:100%;
	height:350px;
	overflow:hidden;}

.mid_one{
		padding-top:40px;
		width:1151px;
		margin:0 auto;
		overflow:hidden;}
	.mid_a{
		float:left;
		width:820px;
		overflow:hidden;}
		.mid_a span{
			float:left;
			margin-left:10px;
			display:block;
			height:25px;
			width:80px;
			border-radius:5px;
			border:1px #0099FF solid;
			font-size:12px;
			color:#09F;
			text-align:center;
			line-height:25px;}
		#mid_a0{
			margin-left:0px;}
		#solid{
			width: 450px;
			height: 0px;
			margin-top: 13px;
			border-bottom:none;
			}
	.mid_b{
		float:left;
		width:820px;
		height:70px;
		border-bottom:1px #0099FF solid;
		}
		.mid_b span{
			display:block;
			float:left;
			margin-top:30px;
				height:30px;
			line-height:30px;
			}
		.mid_b0{
			font-size:24px;
			}
		#mid_b1{
			width:156px;
			background-image:url(../images/xing5.png);
			}
		#mid_b2{
			margin-top:40px;
			text-align: center;		
			width: 250px;
			margin-left: 160px;
			}
		#mid_b3{
			margin-top:30px;
			height:40px;
			font-size:36px;
			color:#09f;
			}
		#mid_jleft{
			margin-top:40px;
			width:16px;
			height:16px;
			background-image:url(../images/middle_jleft.png);
	
			}	
		#mid_jright{
			margin-top:40px;
			width:16px;
			height:16px;
			background-image:url(../images/middle_jright.png);
			
			}	
			
.mid_c{
		float:left;
		width:820px;
		overflow:hidden;}
		.mid_c1{
			float:left;
			margin:20px 0 20px 70px;
			width:226px;
			height:304px;
			background:#eee;}
		.mid_c10{
			margin-left:0;
			}
		.mid_c2{
			width:100%;
			height:130px;
		}
		.mid_c2 span{
			display:block;
			padding-left:10px;
			float:left;
			width:216px;
			height:26px;
			line-height:26px;
			color:#FFF;
			background:rgba(0,0,0,0.7);
			margin-top:104px;}
		.mid_c3{
			display:block;
			margin:10px;
			font-size:14px;
			}
		.mid_c4{
			display:block;
			margin:10px;
			text-indent:2em;
			font-size:14px;
			height:80px;
			line-height:26px;
			}	
		.mid_c5{
			height:40px;
			line-height:40px;			
			}
			.mid_c5 input{
				margin-top:15px;
				margin-left:15px;
				float:left;}
			.mid_c5 span{
				display:block;
				float:left;
				text-align:center;}
			.mid_danjia{
				width:140px;
				}
			.mid_xiangxi{
				color:#09f;
				width:40px;}
		#mid_1{
			background-image:url(../images/middle_1.png);
			}
		#mid_2{
			background-image: url(../images/middle_2.png);
			}
		#mid_3{
			background-image: url(../images/middle_3.png);
			}
		#mid_4{
			background-image:url(../images/middle_3.png);
			}
		#mid_5{
			background-image: url(../images/middle_1.png);
			}
		#mid_6{
			background-image: url(../images/middle_2.png);
			}

.mid_e{
		width:270px;
		margin:10px;
		float:right;
		border-top:1px solid #09f;
		}
		.mid_e span{
			display:block;
			margin:15px;}
		.mid_e p{
			text-indent:2em;
			line-height:25px;
			}


	
